Dockerfile
README.md
BackEnd.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
teman_ngorte_env
.env
.idea
app\__pycache__
migrations\__pycache__
app\controller\__pycache__
app\model\__pycache__
migrations\versions\__pycache__
private_key.ppk
.venv
venv